/* Media Queries */
@media screen and (min-width: 768px) {
    /* Header */
    header {
        padding: 0.8em;
    }
    header h1 {
        font-size: 2em;
    }

    /* Start page: Intro text */
    .intro {
        text-align: center;
    }

    /* News Articles */
    .news-item {
        display: flex;
        padding: 0 0 10px;
    }
    .news-image {
        width: 30%;
    }
    .news-image img {
        max-width: 100%;
        max-height: 190px;
        width: 100%;
    }
    .news-content {
        margin: 0 0 0 10px;
        width: 70%;
        position: relative;
    }
    .news-headline {
        font-size: 1.3em;
    }
    .news-link {
        margin: 0;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .news-source {
        text-align: left;
        position: absolute;
        left: 0;
        bottom: 0;
    }

    /* Reddit post */
    .reddit-post {
        display: flex;
        padding: 0 0 10px;
        flex-wrap: wrap;
    }
    .reddit-post .top-content {
        width: 100%;
        display: flex;
    }
    .reddit-post-content {
        margin: 0 0 0 10px;
        width: 90%;
        position: relative;
    }
    .reddit-post-image {
        width: 10%;
        display: block;
    }
    .reddit-post-image img {
        max-height: 190px;
        width: 100%;
    }
    .reddit-post-source {
        position: absolute;
        bottom: 0;
        left: 0;
        text-align: left;
    }
    .reddit-post-show {
        margin: 0;
        position: absolute;
        right: 0;
        bottom: 0;
    }
    .reddit-post-display-area {
        width: 100%;
    }
    .reddit-post-display-area img {
        width: 60%;
        margin: 0 auto;
        display: block;
    }
}

@media screen and (min-width: 960px) {
    .container {
        padding: 0;
    }
}

@media screen and (min-width: 834px) {
    /* Start page: Top 10 cryptos */
    .top-ten-cryptos {
        width: 600px;
        margin: 10px auto;
    }
}