/* General Styles */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 16px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    color: #222;
    padding: 0;
    margin: 0;
}

/* Headings */
h1, h2, h3, h4 {
    font-family: 'Alegreya', serif;
    margin: 0;
}

/* Input Elements */
input {
    border: 1px solid #eee;
    padding: 8px;
    font-size: 0.9em;
    border-radius: 3px;
}

/* helper classes */
.text-center {
    text-align: center;
}

/* Sticky Footer */
.page-wrapper {
    min-height: calc(100vh - 102px);
}
/* footer { // Footer is set to 72px height further below
    height: 72px;
} */

/* Header */
header {
    background-color: #003366;
    padding: 0.5em;
}
header h1 {
    color: #fff;
    font-size: 1.8em;
}

/* Nav bar (Home Button/Link) */
nav {
    max-width: 960px;
    margin: 0 auto;
    position: relative;
}

nav a {
    position: absolute;
    right: 15px;
    top: 15px;
}

/* Footer */
footer {
    padding: 15px;
    background-color: #222;
    color: #dadada;
    margin-top: 30px;
    line-height: 1.3em;
    height: 72px;
}
footer a, footer a:active, footer a:focus, footer a:visited {
    color: #dadada;
}
/* Main & Search Form Container */
main {
    margin: 20px auto;
}
main, .search-form-container  {
    max-width: 960px;
    padding: 0 5%;
}

/* --- Start Page --- */
/* Intro text */
.intro {
    text-align: justify;
}

/* Search form */
.search-form-container {
    margin: 60px auto 0;
}
.search-form-container h2 {
    line-height: 1.6em;
}
.search-input, .search-help {
    display: block;
    width: 100%;
    max-width: 480px;
    margin: 0 auto 10px;
}

/* Top 10 list */
.top-ten-container {
    margin-top: 10px;
}
.top-ten-cryptos {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}
.top-ten-cryptos li figure {
    margin: 10px;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 3px;
    width: 100px;
}
.top-ten-cryptos li figure img {
    max-width: 50px;
}

/* --- Info Page --- */
/* Home button */
.btn-home {
    background-color: #9DB4C0;
    border: 1px solid #80939c;
    border-radius: 3px;
    color: #fff;
    padding: 5px 10px;
    transition: 0.2s all ease-in-out;
}
.btn-home:hover {
    cursor: pointer;
    background-color: #003366;
    /*box-shadow: 1px 1px 10px -1px #222;*/
}

hr.divider {
    border: 0;
    height: 1px;
    background: rgba(0, 51, 102, 0.4);
    margin: 0 0 20px;
}

.crypto-into-section article {
    margin-bottom: 30px;
}

/* Info page headings */
.info-heading {
    font-size: 1.5em;
    position: relative;
}
.info-heading:after {
    content: " ";
    border-bottom: 2px solid #003366;
    width: 80px;
    position: absolute;
    bottom: -5px;
    left: 0;
    color: #003366;
}

/* Market data */
.market-data-container p > span:first-child {
    font-weight: bold;
}

/* News Articles */
.news-item {
    margin: 15px 0;
    border-bottom: 1px solid #d4d4d4;
}
.news-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #eee;
}
.news-content {
    padding-bottom: 10px;
}
.news-link, .reddit-post-show {
    text-decoration: none;
    display: block;
    margin: 20px auto 10px;
    background-color: #003366;
    color: #fff;
    width: 160px;
    padding: 5px 10px;
    border-radius: 3px;
    text-align: center;
    transition: background-color 0.2s ease-in-out;
}
.news-link:hover, .reddit-post-show:hover {
    background-color: #001f3e;
}
.news-headline {
    color: #222;
    font-size: 1.2em;
    text-align: justify;
}
.news-description {
    margin: 10px 0;
    text-align: justify;
    color: #222;
}
.news-source {
    text-align: center;
    margin: 0;
}

/* Reddit Posts */
.reddit-post {
    min-height: 100px;
    margin: 15px 0;
    border-bottom: 1px solid #d4d4d4;
}
.reddit-post a:hover {
    text-decoration: underline;
}
.reddit-post-image {
    display: none;
}
.reddit-post-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #eee;
}
.reddit-post-headline {
    font-size: 1em;
    font-weight: bold;
    font-family: "Open Sans", sans-serif;
    line-height: 1.3em;
}
.reddit-post-headline a {
    color: #030027;
    text-decoration: none;
}
.reddit-post-domain {
    font-size: 0.9em;
    color: #9C3848 !important;
    font-weight: normal;
}
.reddit-post-source {
    font-size: 0.9em;
    margin: 15px 0;
    text-align: center;
}
.reddit-post-source a {
    text-decoration: none;
    color: #9C3848;
    font-weight: bold;
}
a.reddit-post-show:hover {
    text-decoration: none !important;
}
.reddit-post-display-area img {
    max-width: 100%;
}
.display-area-container {
    border: 1px solid #bfbfbf;
    padding: 5px 15px;
    background-color: #eee;
    margin-top: 10px;
}