/* General Styles */
html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-size: 16px;
    font-family: 'Open Sans', 'Arial', sans-serif;
    color: #222;
    padding: 0;
    margin: 0;
}

/* Headings */
h1, h2, h3, h4 {
    font-family: 'Alegreya', serif;
    margin: 0;
}

/* Input Elements */
input {
    border: 1px solid #eee;
    padding: 8px;
    font-size: 0.9em;
    border-radius: 3px;
}

/* helper classes */
.text-center {
    text-align: center;
}
.margin-top-20 {
    margin-top: 20px;
}

/* Layout */
.container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 5%;
}

/* Sticky Footer */
.page-wrapper {
    min-height: calc(100vh - 102px);
}
/* footer { // Footer is set to 72px height further below
    height: 72px;
} */

/* Header */
header {
    background-color: #003366;
    padding: 0.5em;
}
header h1 {
    color: #fff;
    font-size: 1.8em;
}

/* Footer */
footer {
    padding: 15px;
    background-color: #222;
    color: #dadada;
    margin-top: 30px;
    line-height: 1.3em;
    height: 72px;
}
footer a, footer a:active, footer a:focus, footer a:visited {
    color: #dadada;
}
/* Main */
main {
    padding: 5% 2%;
}

/* --- Start Page --- */
/* Intro text */
.intro {
    text-align: justify;
}

/* Search form */
.search-form-container {
    margin-top: 30px;
}
.search-input, .search-help {
    display: block;
    width: 100%;
    max-width: 480px;
    margin: 0 auto 10px;
}

/* Top 10 list */
.top-ten-container {
    margin-top: 30px;
}
.top-ten-cryptos {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}
.top-ten-cryptos li figure {
    margin: 10px;
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 3px;
    width: 100px;
}
.top-ten-cryptos li figure img {
    max-width: 50px;
}

/* --- Info Page --- */
.info-page article {
    margin-bottom: 30px;
}

/* Info page headings */
.info-heading {
    font-size: 1.5em;
    position: relative;
}
.info-heading:after {
    content: " ";
    border-bottom: 2px solid #003366;
    width: 80px;
    position: absolute;
    bottom: -5px;
    left: 0;
    color: #003366;
}

/* Market data */
.market-data-container p > span:first-child {
    font-weight: bold;
}

/* News Articles */
.news-item {
    margin: 15px 0;
    border-bottom: 1px solid #d4d4d4;
}
.news-image img {
    max-width: 100%;
    height: auto;
    border: 1px solid #eee;
}
.news-content {
    padding-bottom: 10px;
}
.news-link {
    text-decoration: none;
    display: block;
    margin: 20px auto 10px;
    background: #003366;
    color: #fff;
    width: 160px;
    padding: 5px 10px;
    border-radius: 3px;
}
.news-headline {
    color: #222;
    font-size: 1.2em;
    text-align: justify;
}
.news-description {
    margin: 10px 0;
    text-align: justify;
    color: #222;
}
.news-source {
    text-align: center;
    margin: 0;
}