html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
}

.container {
    max-width: 960px;
    margin: 0 auto;
}

label {
    font-weight: 600;
}
input {
    padding: 5px;
    border-radius: 3px;
    box-shadow: none;
    border: 1px solid #c5c5c5;
}